<html>
  <head>
    <title>About</title>
    <link href="./css/about.css" rel="stylesheet" />
    <script>
      window.onload = function () {
        const shell = require('electron').shell

        const exLinksBtn = document.getElementById('cora-link')

        exLinksBtn.addEventListener('click', function (event) {
          shell.openExternal('https://github.com/zhuangqh/cora')
        })
      }
    </script>
  </head>
  <body>
    <div id="main">
      <img id="protrait" src="./img/protrait.jpg" />
      <p>Author: <span class="impt">zhuangqh</span></p>
      <div>
        Contact me:
        <a id="cora-link" href="#">
          <img id="github-logo" src="./img/GitHub-logo.png"/>
        </a>
      </div>
      <p id="version">Version: alpha</p>
    </div>
  </body>
</html>